@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

body {
	font-family: 'Hahmlet', serif;
}

h1{
	text-align: center;
}

p {
	position: relative;
	left: 10%;
	right: 10%;
}

img {
	max-width: auto;
	max-height: 70%;
}

video {
	max-width: auto;
	max-height: 30%;
}

#subtitle {
	text-align: center;
}

#navigation {
	background-color: green;
	overflow: hidden;
	width: 100%;
	position: relative;
	float: left;
}

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
	
}

#navigation ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}

#navigation ul li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}

#navigation ul li a:hover {
	background-color: #000;
}